@charset "UTF-8";

.needless-unit {
	padding: 0px;

	padding: 0;
	@include test;

}

.needless-unit-2 {
	@include foo(1, 3);
	@include foo(1, 3);
	@include test(2, 3);

	@include ml(3, 3) {
		content: '';
	};
	@include xs {
		content: '';
	};

	@media print {
		.foo {
			border: 1px solid black;
		}
	}

	@keyframes foo {
		0% {
			border: 1px solid red;
		}
		to {
			border: 1px solid green;
		}
	}

	padding: 0;
}